body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}
.info {
    display: flex;
    justify-content: space-between;
    width: 480px; /* Adjust as needed for your layout */
    margin-bottom: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
    gap: 2px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #1e1e1e; /* Dark cell background */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid #333; /* Slightly lighter border */
}
.cell.revealed {
    background-color: #333333; /* Slightly lighter background for revealed cells */
    cursor: default;
    border: 1px solid #444; /* Slightly lighter border */
}
.cell.marked {
    background-color: #ff5555; /* Marked cells (red) */
    cursor: default;
    color: #ffffff; /* White text for marked cells */
}
