body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text color */
}
.info {
    display: flex;
    justify-content: space-between;
    width: 480px; /* Adjust as needed for your layout */
    margin-bottom: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
    gap: 2px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0; /* Light cell background */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid #cccccc; /* Slightly darker border */
}
.cell.revealed {
    background-color: #e0e0e0; /* Slightly darker background for revealed cells */
    cursor: default;
    border: 1px solid #b0b0b0; /* Slightly darker border */
}
.cell.marked {
    background-color: #ff5555; /* Marked cells (red) */
    cursor: default;
    color: #000000; /* Dark text for marked cells */
}
